In [21]:
def addnum():
    firstnum="3"
    secondnum="3"
    result=firstnum+secondnum
    print(result)
addnum()

33

In [22]:
def addnum(firstnum,secondnum):
    result=firstnum+secondnum
    print(result)
addnum(10,20)

30

In [23]:
def addnum(firstnum,secondnum):
    result=firstnum+secondnum
    print(result) #function scope ends here

firstnum=10
secondnum=20

addnum(firstnum,secondnum)

30

In [24]:
def addnum(num1,num2):
    result=num1+num2
    print(result) #function scope ends here

firstnum=10
secondnum=20

addnum(firstnum,secondnum)

30

In [25]:
def addnum(firstnum,secondnum):
    result=firstnum+secondnum
    print(result) #function scope ends here


addnum(firstnum=10,secondnum=20)

30

In [30]:
def addnum(secondnum,firstnum): # positional order changing example
    result=secondnum-firstnum
    print(result) 

firstnum=10
secondnum=20

addnum(firstnum,secondnum)

-10

In [31]:
def addnum(ten,twenty): #order changing example
    result=ten-secondnum
    print(result) 

firstnum=10
secondnum=20

addnum(firstnum,secondnum)

-10

In [79]:
def addnum(secondnum,firstnum): #keyword
    result=secondnum-firstnum
    print(result) 


addnum(firstnum=10,secondnum=20)

10

In [34]:
def addnum(ten,twenty=20): #order changing example
    result=ten-secondnum
    print(result) 

firstnum=10

addnum(firstnum)

-10

In [43]:
def coursedetail(inst,lang="python",dur):
    print(inst + " " + lang + "" + dur )

inst="Saylani"
 
coursedetail(inst,dur="3 months")

SyntaxError: non-default argument follows default argument (<ipython-input-43-9a13f240ec9c>, line 1)

In [ ]:
def coursedetail(inst,dur,lang="python"):
    print(inst + " " + lang + " " + dur )

inst="Saylani"
 
coursedetail(inst,dur="3 months")

In [56]:
def personalinfo(name, fname, **params):
    print("My name is " + name + " " + fname )
    for key ,value in params.items() :
        print( key + ":" + value)
        
personalinfo("Umar","Aslam",email="umar@saylani.com",phone="********",city="Karachi")

My name is Umar Aslam
email:umar@saylani.com
phone:********
city:Karachi

In [82]:
def personalinfo(name, fname, *params):
    print("My name is " + name + " " + fname )
    for param in params :
        print(param)
        
personalinfo("Umar","Aslam","umar@saylani.com","********","Karachi")

My name is Umar Aslam
umar@saylani.com
********
Karachi

In [17]:
def returnfunc(num1,num2):
    
    totalnum=num1+num2
    print(totalnum)
    
    return totalnum

returnfunc(10,20)

30

30

In [64]:
def returnfunc1(num1,num2):
    
    totalnum=num1+num2
    print(totalnum)
    
    return totalnum



def returnfunc2(num1,num2):
    
    totalnum=num1+num2
    print(totalnum)
    
    return totalnum



result1=returnfunc1(10,20)
result2=returnfunc1(30,40)

finalresult=result1-result2
print(finalresult)

30
70
-40

In [83]:
def cal_tax(sales, tax = 10):
    complete = (sales * tax)/100
    return complete

sales = 30
sales_tax = cal_tax(sales)
print(sales_tax)
GST_tax = 5
direct_tax = 5
in_direct_tax = 5
income_tax = 5
overall_tax = sales_tax + GST_tax + direct_tax + in_direct_tax + income_tax
print(overall_tax)

3.0
23.0

In [78]:
def func_scope():
    myname="Umar"
    print(myname)

func_scope()
print(myname)

Umar

NameError: name 'myname' is not defined

In [87]:
def courseinfo():
    coursename="Pyhthon Programming"
    institute="Saylani Mass Training"
    duration="3 months"
    
    return (coursename + " " + institute + " " + " " + duration )

crincall=courseinfo()

def myinfo():
    name=input("what is your name?")
    result = name +" "+ "is enrolled in "+ " " + crincall 
    return result


myincall=myinfo()

print(myincall)

what is your name?Umar
Umar is enrolled in  Pyhtgon Programming Saylani Mass Training  3 months

In [1]:
user_input='n'
while user_input != "q": 
    user_input = input("Enter a city, or q to quit:")

Enter a city, or q to quit:q

In [2]:
import random
randno = random.randint(0, 10)
print(randno)
userIn = int(input("write any no?"))

count = 0
while randno != userIn : 
    count += 1
    if count < 5 :
            userIn=int(input("Enter no again"))
    else :
        print("try your luck next time")
        break

0
write any no?1
Enter no again2
Enter no again3
Enter no again4
Enter no again5
try your luck next time