In [10]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [11]:
cities.append("Islamabad")
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Islamabad']

In [13]:
#appending multiple items or array items
#It allows you to add one or more elements to a list
cities = cities + ["Dubuque", "New Orleans"]
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Islamabad',
 'Dubuque',
 'New Orleans',
 'Dubuque',
 'New Orleans']

In [16]:
todays_tasks = []
todays_tasks = todays_tasks + ["Walk dog", "Buy groceries"]
todays_tasks

['Walk dog', 'Buy groceries']

In [17]:
#Inserting at begging of the array 
# If I want to insert "Break Fast" at the beginning of the list, I write...
todays_tasks.insert(0, "Break Fast")
todays_tasks

['Break Fast', 'Walk dog', 'Buy groceries']

In [19]:
# Lists: Taking slices out of them
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
smaller_list_of_cities = cities[2:5] #[ >=Starting indexx : < Ending index] ==> index 2,3,4
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [20]:
smaller_list_of_cities = cities[:5] # from 0 index to 4
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [21]:
smaller_list_of_cities = cities[2:] # from 2 index to last index
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [40]:
# Lists: Deleting and removing elements
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

# Delete elements by index
del cities[0]

# You can also strike an element off a list by specifying its value instead of itsindex number:
cities.remove('Denver') 
cities

['Baltimore', 'Chicago', 'Los Angeles', 'Seattle']

In [41]:
# pop element from array , it will never remove from array itself
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
new_city = cities.pop() # pop => removes element from list and returns that removed object
new_city

'Seattle'

In [38]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [42]:
poped_element=cities.pop(3) # remove nth element from list
poped_element

'Denver'

In [48]:
# Tuples is like a list, but the elements are fixed. They can't be changedâ€”unless you redefine the whole tuple
# ()  is used insted ot [] which are used for array

states = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")
states # getting whole tuple

('Delaware', 'Pennsylvania', 'New Jersey', 'Georgia')

In [45]:
# Retrieve data from tuple is same like accessing array data through index
states[1]

'Pennsylvania'

In [47]:
#If the order of elements changes for any reason, you have to re-code the whole tuple, too.

states_in_order_of_founding = ("Delaware","New Jersey", "Georgia")
states_in_order_of_founding

('Delaware', 'New Jersey', 'Georgia')

In [49]:
# array lenth 
len(states_in_order_of_founding)

3

In [52]:
# Array of dictionaries

array = []
array.append({
    "ID":1,
    "Name":"Adnan"
})

array.append({
    "ID":2,
    "Name":"Zeeshan"
})

array

[{'ID': 1, 'Name': 'Adnan'}, {'ID': 2, 'Name': 'Zeeshan'}]

In [53]:
# checking if value exist in array
"Delaware" in states  # Evaluates to True or False based on the object exist or not

True

In [3]:
list = [1,2,3,4,5,7,8,9]
list[list[-3]]  # list[7] ==> 9

9